
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.taskbar{
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 25px 35px;
    
}
a{
    color: white;
    text-decoration: none;
}
.head1{

    color: white;
    padding-left: 475px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
}

.fa-solid {
    color: white;
    padding-left: 10PX;
    font-size: 25px;
    
}
.fa-magnifying-glass{
  
  background-color: black;
  color: white;
  font-size: 30px;
  padding-left: 350px;
  font-weight: normal;
}
.fa-user{
    background-color: black;
  color: white;
  font-size: 30px;
  padding-left: 25px;
  font-weight: normal;
}
.fa-bag-shopping{
    background-color: black;
  color: white;
  font-size: 30px;
  padding-left: 25px;
  font-weight: normal;
}
.img1{
   width:840px;
   min-height: auto;
   float: left;
}
/* .section1{
    padding-left: 10px;
} */
.section12{
    padding-left: 870px;
    padding-top: 90px;
    
}
.h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h2{
    font-size: 50px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h3{
    font-family: system-ui;
    font-size: 20px;
    text-align: revert;
}
.submit{
    
    padding-top: 20px;
}
.button{
    background-color: black;
    color: white;
    width: 180px;
    height: 48px;
    
}
.h4{
    padding-top: 200px;
    padding-left: 45%;
    font-weight: bold;
}
/* .li{
    display: flex;
    flex-direction: row;

} */
.section2{
    width: 100%;
    height:max-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #434343;
}
.lists{
    padding-top: 25px;
}
.vitaminc{
    width: 330px;
    padding-left: 100px;
    padding-top: 20px;
    
}
.d1{
    padding-left: 60px;
    text-align: center;
}
 .vitaminB5{
    width: 270px;
    padding-top: 20px;
    padding-left: 40px;
}
.Niacinamide{
    width: 270px;
    padding-top: 20px;
    padding-left: 40px;

}
.Hyaluronic{
    width: 270px;
    padding-top: 20px;
    padding-left: 40px;
}  
.lists{
    display: flex;
}
.d2{
    padding-left: 50px;
    text-align: center;
    
}
.d3{
    padding-left: 100px;
    text-align: center;
}
.d4{
    padding-left: 40px;
    text-align: center;
    /* padding-top: 25px; */
    
}
.button1{
    background-color: black;
    color: white;
    width: 230px;
    height: 35px;
    margin-top: 40px;
}
.section3{
    padding-top: 120px;
    margin-left: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.n1{
    font-size: 36px;
}
.section4{
    margin-top: 30px;
    position: relative;
    top:0;
    left: 0;
    margin-left: 60px;
    margin-right: 60px;
}
.fa-indian-rupee-sign{
    color: black;
    font-size: 12px;
    padding-right: 10px;
}
.background{
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height: min-content;
}
.b1{
    position: absolute;
    top:300px;
    left: 60px;
    width: 330px;
    height: 300px;
}
.b2{
    position: absolute;
    top:300px;
    left: 410px;
    width: 330px;
    height: 300px;
}
.b3{
    position: absolute;
    top:300px;
    left: 760px;
    width: 330px;
    height: 300px;
}
.button3{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 120px;
    width: 210px;
    height: 60px;
    border-color: transparent;
}
.button4{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 500px;
    width: 140px;
    height: 60px;
    border-color: transparent;
}
.button5{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 840px;
    width: 160px;
    height: 60px;
    border-color: transparent;
}
.section5{
    margin-left: 50px;
    padding-top: 370px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.final{
    font-size: 32px;
    padding-left: 500px;
    

}
.mainf{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.flex1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 10px;
}
.detail{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
.detail1{
    padding-top: 10px;
    color: #615e5e;
}
.transparency1{
   
    padding-top: 10px;
    width: 55px;
    height: 55px;
}
.transparency2{

    padding-top: 10px;
    width: 55px;
    height: 55px;
}
.transparency3{

    padding-top: 10px;
    width: 55px;
    height: 55px;
}
.flex2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 60px;
}
.flex3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 60px;
}
.section6{
    margin-top: 100px;
    width: 100%;
    height: 400px ;
    background-color: #eee;
    position: relative;
    padding-top: 100px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.review1{
    /* padding-top: 50px; */
    margin-left: 60px;
    width: 350px;
    height: 200px;
    background-color: white;
    padding: 50px 50px;
    text-align: center;
    
}
.review2{
    /* padding-top: 50px; */
    margin-left: 60px;
    width: 350px;
    height: 200px;
    background-color: white;
    padding: 50px 50px;
    text-align: center;
}
.review3{
    /* padding-top: 50px; */
    margin-left: 60px;
    width: 350px;
    height: 200px;
    background-color: white;
    padding: 50px 50px;
    text-align: center;
}
.name{
    padding-top: 20px;
    font-weight: bolder;
}
.section7{
    width: 100%;
    height: 550px;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.footer1{
    padding: 70px 80px;
    display: flex;
    flex-direction: row;
} 

.heading{
    font-size: 19px;
    font-weight: bold;

}
.about{
    font-size: 17px;
    
}
.help{
    
    padding-left: 50px;
    font-size: 17px;
}
.list{
    padding-top: 10px;
}
.line{
    margin-left: 80px;
    margin-right: 90px;
   
}
.fa-facebook{
    font-size: 20px;
    /* padding-top: 30px; */
    margin-left: 80px;
    margin-top: 30px;
    color: rgb(199, 194, 194);
    
}
.fa-instagram{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    color: rgb(199, 194, 194);
}
.copyright{
    margin-left: 80px;
    margin-top: 10px;
    color: rgb(174, 167, 167);
}